.password-div {
    display: flex; 
    width: 100%;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
 

}

.password-form {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}


.password-input {
    background-color: white;
    margin-top: 10px;
}

.password-button {
    width: 250px;
    font-size: 30px;

    margin-top: 20px;
    border-radius: 20px;

    border: 0px ;
    
}

.lock-image {
    width: 150px;
    margin-top: 10px;
}

.correct {
    
    background-color: darkgreen;
    color: white;
    -webkit-animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both;
}

.correct:hover {
    background-color: green
}

.incorrect {
        background-color: red;
}

.incorrect:hover {
    -webkit-animation:shake-horizontal .8s cubic-bezier(.455,.03,.515,.955) both;animation:shake-horizontal .8s cubic-bezier(.455,.03,.515,.955) both
}
.incorrect:active {
    -webkit-animation:shake-horizontal .8s cubic-bezier(.455,.03,.515,.955) both;animation:shake-horizontal .8s cubic-bezier(.455,.03,.515,.955) both
}

@-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}
@-webkit-keyframes shake-horizontal{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}10%,30%,50%,70%{-webkit-transform:translateX(-10px);transform:translateX(-10px)}20%,40%,60%{-webkit-transform:translateX(10px);transform:translateX(10px)}80%{-webkit-transform:translateX(8px);transform:translateX(8px)}90%{-webkit-transform:translateX(-8px);transform:translateX(-8px)}}@keyframes shake-horizontal{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}10%,30%,50%,70%{-webkit-transform:translateX(-10px);transform:translateX(-10px)}20%,40%,60%{-webkit-transform:translateX(10px);transform:translateX(10px)}80%{-webkit-transform:translateX(8px);transform:translateX(8px)}90%{-webkit-transform:translateX(-8px);transform:translateX(-8px)}}