* {
  box-sizing: border-box;
  font-family: Helvetica;
}


body {

  min-width: 320px;

}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 94.7vh;

}

.content-wrapper {

  flex-grow: 1;

}


.inicial {
  background-color: black
}

.past {
  background-color: #c8b189;
}

.present {
  background-color: #cdcd9d
}

.future {
  background-color: #b9353d
}

.infinite {
  background-color:  #04070e 
}